@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  text-align: center;
  width: 100%;
  
  background-color: purple;
}


.facepalm {
  position: absolute;
  display: none;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  max-width: 70vw;
}