.shame-level{
	position: absolute;
	height: 0;
	bottom: 0;
	width: 100vw;

	-moz-transition: height .5s ease;
	-webkit-transition: height .5s ease;
	-o-transition: height .5s ease;
	transition: height .5s ease;
	background-color: red;
}